<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>林科名个人主页</title>
	
	<!-- inject:css -->
	<!-- <link rel="stylesheet" href="css/materialize.min.css"/>     -->
	<!-- endinject -->

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
	
	
	<!-- inject:css -->
	<link rel="stylesheet" href="css/all.css">
	<!-- endinject -->
	

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
  <body ng-controller="AppController as app">

  	<div class="io-background"></div>
  	
  	<div class="intro">
  		<div class="intro-inner white z-depth-3">
  			<h1 class="red-text text-accent-2">Welcome</h1>
  		</div>
  	</div>
  	
  	<div class="io-site">
  		<div class="io-nav">
  			<div class="io-nav-inner">
  				<header class="io-nav-header red accent-2">
  					<div class="io-nav-text">
  						<div class="io-nav-header-name white-text darken-1">
  							K M <strong> L</strong>
  						</div>
  						<div class="io-nav-header-email">
  							HTML5 & CSS3 
  						</div>
  						<div class="io-nav-header-email">
  							JavaScript & jQuery 
  						</div>
  						<div class="io-nav-header-email">
  							Developer & Designer
  						</div>
  					</div>
  				</header>
  				<div class="io-navigation" du-scroll-container="container">
  					<a href="#section-1" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
  						<i class="mdi-social-person red-text accent-2"></i>
  						<div class="io-navigation-item-text grey-text darken-1">名片</div>
  					</a>
  					<a href="#section-2" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
  						<i class="mdi-action-history purple-text accent-2"></i>
  						<div class="io-navigation-item-text grey-text darken-1">经历</div>
  					</a>
  					<a href="#section-3" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
  						<i class="mdi-av-web green-text accent-2"></i>
  						<div class="io-navigation-item-text grey-text darken-1">案例</div>
  					</a>
  					<a href="#section-4" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
  						<i class="mdi-av-equalizer blue-text accent-2"></i>
  						<div class="io-navigation-item-text grey-text darken-1">技能</div>
  					</a>
  					<a href="#section-5" du-smooth-scroll du-scrollspy ng-click="app.toSection2()" class="io-navigation-item waves-effect">
  						<i class="mdi-social-school amber-text darken-3"></i>
  						<div class="io-navigation-item-text grey-text darken-1">教育</div>
  					</a>
                    <!-- <div href="#section-5" du-smooth-scroll du-scrollspy class="io-navigation-item waves-effect">
                        <i class="mdi-communication-call amber-text darken-3"></i>
                        <div class="io-navigation-item-text grey-text darken-1">内容</div>
                    </div> -->
                </div>
            </div>
        </div>


        <!-- ======================================================第1页right======================================================= -->


        <div class="io-container" id="container" du-scroll-container>

        	<div class="io-content io-profile" id="section-1">                
        		
        		<div class="io-profile-header">
        			<h1 class="grey-text text-darken-1 ng-binding"><strong class="ng-binding">林</strong>科名</h1>
        		</div>
        		

        		<div class="io-profile-details ng-scope">
        			<blockquote class="ng-scope">
        				<div class="b-icon"><i class="mdi-communication-phone red-text accent-2"></i></div>
        				<div class="b-text"><span class="ng-binding">186 388 53336</span></div>
        			</blockquote>
        			<blockquote class="ng-scope">
        				<div class="b-icon"><i class="mdi-communication-email red-text accent-2"></i></div>
        				<div class="b-text"><span class="ng-binding">410360957@qq.com</span></div>
        			</blockquote>
        			<blockquote class="ng-scope">
        				<div class="b-icon"><i class="mdi-action-home red-text accent-2"></i></div>
        				<div class="b-text"><div class="ng-binding">河南 洛阳</div></div>
        			</blockquote>
        		</div>



        	</div>



        	<!-- ======================================================第2页======================================================= -->
        	<div class="io-content" id="section-2">

        		<div class="col s12 io-content-header purple darken-1">
        			<h1 class="white-text">经历</h1>
        		</div>


        		<div class="io-section ng-scope">
        			

        			<div class="io-section-heading-xs ng-scope">
        				
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/hr-logo.png" class="responsive-img">
        					</div> -->
        					
        					<div class="section-title">前端开发工作室</div>
        					
        					<div class="section-date grey-text text-darken-1">
        						<span class="">2015-today</span>
        					</div>
        				</div>
        				
        				<div class="io-section-heading-bottom">
        					<div class="section-subtitle"><span class="blue-text text-darken-1">洛阳 万国银座</span></div>
        				</div>
        			</div>
        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-circle blue-text"></i><!-- 无效圆点 -->
        						<span><em class="blue"></em>PSD转HTML / PSD转CMS程序</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle blue-text"></i>
        						<span><em class="blue"></em>HTML5响应式/移动前端开发</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle blue-text"></i>
        						<span><em class="blue"></em>TABLE转DIV / 网站重构</span>
        					</li>
        				</ul>
        			</div>
        		</div>
        		

        		<div class="io-section ng-scope">
        			<div class="io-section-heading-xs ng-scope">
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/hourglass-logo.png" class="responsive-img">
        					</div> -->
        					
        					<div class="section-title">洛阳民顺商贸有限公司</div>
        					
        					<div class="section-date grey-text text-darken-1">
        						<span class="">2014.01-2014.11</span>
        					</div>
        				</div>
        				
        				<div class="io-section-heading-bottom">
        					<div class="section-subtitle">
        						<span class="yellow-text text-darken-4">洛阳 房地产大厦</span>
        					</div>
        				</div>
        			</div>
        			
        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<!-- <i class="fa fa-circle yellow-text text-darken-4"></i> -->
        						<span><em class="yellow darken-4"></em>负责网络商城建站 后台服务</span>
        					</li>
        					<li class="center-item">
        						<!-- <i class="fa fa-circle yellow-text text-darken-4"></i> -->
        						<span><em class="yellow darken-4"></em>一盒宝刷卡器</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle yellow-text text-darken-4"></i>
        						<span><em class="yellow darken-4"></em>房医生清除甲醛</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle yellow-text text-darken-4"></i>
        						<span><em class="yellow darken-4"></em>隆力奇直销</span>
        					</li>
        				</ul>
        			</div>
        		</div>

        		
        		<div class="io-section ng-scope">
        			<div class="io-section-heading-xs ng-scope">
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/his-logo.png" class="responsive-img">
        					</div> -->
        					
        					<div class="section-title">特希商城</div>
        					
        					<div class="section-date grey-text text-darken-1">
        						<span class="">2008-2011</span>
        					</div>
        				</div>
        				
        				<div class="io-section-heading-bottom">
        					<div class="section-subtitle">
        						<span class="green-text">洛阳 创展国际</span>
        					</div>
        				</div>
        			</div>
        			
        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-circle green-text"></i>
        						<span><em class="green"></em>网络建设 后台维护 </span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle green-text"></i>
        						<span><em class="green"></em>B2C 销售日用日化产品</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle green-text"></i>
        						<span><em class="green"></em>洛阳恒安纸业总代理</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle green-text"></i>
        						<span><em class="green"></em>河南威露士总代理</span>
        					</li>
        				</ul>
        			</div>
        		</div>


        		<div class="io-section ng-scope">
        			<div class="io-section-heading-xs ng-scope">
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/his-logo.png" class="responsive-img">
        					</div> -->
        					
        					<div class="section-title">河南省黄河防爆起重机有限公司洛阳销售部</div>
        					
        					<div class="section-date grey-text text-darken-1">
        						<span class="">2008-2011</span>
        					</div>
        				</div>
        				
        				<div class="io-section-heading-bottom">
        					<div class="section-subtitle">
        						<span class="indigo-text">洛阳 涧东路14号门店</span>
        					</div>
        				</div>
        			</div>
        			
        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text"></i>
        						<span><em class="pink"></em>起重机设备销售</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text"></i>
        						<span><em class="pink"></em>天车</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text"></i>
        						<span><em class="pink"></em>龙门吊</span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text"></i>
        						<span><em class="pink"></em>悬浮吊</span>
        					</li>
        				</ul>
        			</div>
        		</div>

        	</div>




        	<!-- ======================================================第3页======================================================= -->
        	<div class="io-content" id="section-3" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
        		
        		<div class="col s12 io-content-header green darken-1">
        			<h1 class="white-text">案例</h1>
        		</div>
        		

        		<div class="io-section ng-scope">
        			
        			<div class="io-section-heading-xs ng-scope">
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/slushy-logo.png" class="responsive-img">
        					</div> -->

        					<div class="section-title">传教士</div>
        					
                            <div class="section-date grey-text text-darken-1">
        						<span class="">2015-Today</span>
        					</div>
        				</div>
        				
        				<div class="io-section-heading-bottom">
        					
        					<div class="section-subtitle">
        						<span class="purple-text text-darken-4">全球</span>
        					</div>
        				</div>
        			</div>
        			
        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-chevron-right pink-text text-accent-2"></i>
        						<a class="indigo-text" href="http://chuanjiaoshi.co.uk"><em class="pink accent-2"></em>访问网站</a>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle purple-text text-darken-4"></i>
        						<span></span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle purple-text text-darken-4"></i>
        						<span><em class="pink accent-2"></em>macbook ipad iphone android windows </span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle purple-text text-darken-4"></i>
        						<span><em class="pink accent-2"></em>VPN 速度最快 </span>
        					</li>
        				</ul>
        			</div>
        		</div>


        		<div class="io-section ng-scope">
        			
        			<div class="io-section-heading-xs ng-scope">
        				<div class="io-section-heading-top">
        					
                            <div class="section-title mv-logo">
                                <strong class="pink-text text-accent-2">谢大叔<span class="indigo-text">网络商城</span></strong>
                            </div>
        					
                            <div class="section-date grey-text text-darken-1"><span class="">2014-Today</span></div>
        				
                        </div>
        				
                        <div class="io-section-heading-bottom">
        					<div class="section-subtitle"><span class="pink-text text-accent-2">河南 洛阳</span></div>
        				</div>
        			
                    </div>

        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-chevron-right pink-text text-accent-2"></i>
        						<a class="indigo-text" href="http://www.xiedashu.com"><em class="pink accent-2"></em>www.xiedashu.com</a>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text text-accent-2"></i>
        						<span></span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle pink-text text-accent-2"></i>
        						<span><em class="pink accent-2"></em>主营日用日化产品</span>
        					</li>
        				</ul>
        			</div>

        		</div>
        		
        		

        		<div class="io-section ng-scope">
        			<div class="io-section-heading-xs ng-scope">
        				
        				<div class="io-section-heading-top">
        					<!-- <div class="section-logo">
        						<img width="60px" src="content/images/plateful-logo.png" class="responsive-img">
        					</div> -->
        					
        					<div class="section-title "><strong class="grey-text text-darken-1">特希网络商城</strong></div>
        					
        					<div class="section-date grey-text text-darken-1">
        						<span class="">2008-2010</span>
        					</div>
        				</div>

        				
        				<div class="io-section-heading-bottom">
        					<div class="section-subtitle">
        						<span class="blue-text text-lighten-2">河南 洛阳</span>
        					</div>
        				</div>
        				
        			</div>
        			

        			<div class="io-section-content ng-scope">
        				<ul>
        					<li class="center-item">
        						<i class="fa fa-chevron-right pink-text text-accent-2"></i>
        						<a class="indigo-text" href=""><em class="pink accent-2"></em>www.texishop.com</a>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle orange-text"></i>
        						<span></span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle orange-text"></i>
        						<span></span>
        					</li>
        					<li class="center-item">
        						<i class="fa fa-circle orange-text"></i>
        						<span></span>
        					</li>
        				</ul>
        			</div>

        		</div>
        		


                <!-- <div class="io-section ng-scope">
                    
                    <div class="io-section-heading-xs ng-scope">
                        <div class="io-section-heading-top">
                            <div class="section-logo">
                                <img width="60px" src="content/images/tracom-logo.png" class="responsive-img">
                            </div>
                            <div class="section-title">TraCom</div>
                            <div class="section-date grey-text text-darken-1">
                                <span class="">2012-Today</span>
                            </div>
                        </div>
                        
                        <div class="io-section-heading-bottom">                      
                            <div class="section-subtitle">
                                <span class="blue-text text-lighten-2">CRM &amp; ERP</span>
                            </div>
                        </div>
                    </div>
                    <div class="io-section-content ng-scope">
                        <ul>
                            <li class="center-item">
                                <i class="fa fa-chevron-right pink-text text-accent-2"></i>
                                <span class="indigo-text">Project is private</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Custom-developed a real-time Customer Relations Platform with rich Enerprise Resource Planning integration for H-I-S Coatings company.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Implemented full featured OAuth system using Laravel and PHP backend with Angular and jQuery on front end.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Employed Google API’s for strategic delivery, routing and just-in-time order scheduling, and platform-wide notifications.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Integrated SQL database to communicate with SQL data store, structured by current Point-of-Sale system.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Engaged company employees with continual A-B testing to improve UX design.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>Provided fequent application feedback sessions for overall application health.</span>
                            </li>
                            <li class="center-item">
                                <i class="fa fa-circle blue-text text-lighten-2"></i>
                                <span>TraCom is also used as the sole communications platform between Customer Relations and the Production Management team.</span>
                            </li>
                        </ul>
                    </div>
                </div>有了再加-->
            </div>
            
            <!-- ==============================================第4页=========================================================== -->
            <div class="io-content" id="section-4" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            	<div class="col s12 io-content-header blue accent-2">
            		<h1 class="white-text">技能</h1>
            	</div>

            	<div class="io-section has-cards ng-scope">
            		<div class="io-section-card ng-scope">
            			<div class="io-section-card-heading">Internet</div>
            			
            			<div class="io-section-logos">
            				<div class="img-wrap">
            					<img src="images/html5-logo.png" height="512" width="512" class="responsive-img no-flex"><h6>HTML 5</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/css3-logo.png" class="responsive-img no-flex"><h6>CSS 3</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/javascript-logo.png" class="responsive-img no-flex"><h6>JavaScript</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/jquery-logo.png" class="responsive-img no-flex"><h6>jQuery</h6>
            				</div>
            				
            				<div class="img-wrap">
            					<img src="images/nodejs_logo.png" class="responsive-img no-flex"><h6>NodeJS</h6>
            				</div>                            
            				<div class="img-wrap">
            					<img src="images/github-logo.png" class="responsive-img no-flex"><h6>Github</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/meteor-logo.jpg" class="responsive-img no-flex"><h6>meteor</h6>
            				</div> 
            			</div>
            			
            		</div>
            		
            		<div class="io-section-card ng-scope">
            			
            			<div class="io-section-card-heading">3D 2D</div>
            			
            			<div class="io-section-logos">
            				<div class="img-wrap">
            					<img src="images/ai-logo.png" class="responsive-img no-flex"><h6>Illustrator</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/Ps-logo.png" class="responsive-img no-flex"><h6>Photoshop</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/solidworks-logo.jpg" class="responsive-img no-flex"><h6>Solidworks</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/rhino-logo.png" class="responsive-img no-flex"><h6>Rhinoceros</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/3dsmax-logo.png" class="responsive-img no-flex"><h6>3DSMAX</h6>
            				</div>
            				<div class="img-wrap">
            					<img src="images/autocad-logo.jpg" class="responsive-img no-flex"><h6>AutoCad</h6>
            				</div>
            			</div>
            		</div>
            		
            	</div>
            	
            </div>


            <!-- =============================================第5页======================================================== -->
            <div class="io-content" id="section-5" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
            	
            	<div class="col s12 io-content-header amber darken-3">
            		<h1 class="white-text">教育</h1>                
            	</div>
            	

            	<div class="io-section has-cards ng-scope">
            		<div class="io-section-heading-xs ng-scope">
            			<div class="io-section-heading-top">
            				<!-- <div class="section-logo">
            					<img width="60px" src="content/images/hr-logo.png" class="responsive-img">
            				</div> -->
            				
            				<div class="section-title">视觉传达</div>
            				
            				<div class="section-date grey-text text-darken-1">
            					<span class="">2006-2008</span>
            				</div>
            			</div>
            			
            			<div class="io-section-heading-bottom">
            				<div class="section-subtitle">
            					<span class="pink-text">中国 河北</span>
            				</div>
            			</div>
            		</div>
            		<div class="io-section-content ng-scope">
            			<ul>
            				<li class="center-item">
            					<i class="fa fa-chevron-right pink-text"></i>
            					<a class="indigo-text" href=""></a>
            				</li>
            				<li class="center-item">
            					<!-- <i class="mdi-maps-place pink-text"></i> -->
            					<span class="ingigo-text"></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            			</ul>
            		</div>
            	</div>
            	

            	<div class="io-section has-cards ng-scope">
            		<div class="io-section-heading-xs ng-scope">
            			<div class="io-section-heading-top">
            				<!-- <div class="section-logo">
            					<img width="60px" src="content/images/swbts-logo.png" class="responsive-img">
            				</div> -->
            				
            				<div class="section-title">洛阳四中</div>
            				
            				<div class="section-date grey-text text-darken-1">
            					<span class="">2003-2006</span>
            				</div>
            			</div>
            			<div class="io-section-heading-bottom">
            				<div class="section-subtitle">
            					<span class="pink-text">洛阳</span>
            				</div>
            			</div>
            		</div>

            		<div class="io-section-content ng-scope">
            			<ul>
            				<li class="center-item">
            					<i class="fa fa-chevron-right pink-text"></i>
            					<a class="indigo-text" href=""></a>
            				</li>
            				<li class="center-item">
            					<!-- <i class="mdi-maps-place pink-text"></i> -->
            					<span class="ingigo-text"></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            			</ul>
            		</div>
            	</div>
            	

            	<div class="io-section has-cards ng-scope">
            		<div class="io-section-heading-xs ng-scope">
            			<div class="io-section-heading-top">
            				<!-- <div class="section-logo">
            					<img width="60px" src="content/images/uco-logo.png" class="responsive-img">
            				</div> -->
            				<div class="section-title">洛轴三中</div>

            				<div class="section-date grey-text text-darken-1">
            					<span class="">2000-2003</span>
            				</div>
                        </div>
                        <div class="io-section-heading-bottom">
                            <div class="section-subtitle">
                                <span class="pink-text">洛阳</span>
                            </div>
                        </div>
            		</div>
            	
            		
            		<div class="io-section-content ng-scope">
            			<ul>
            				<li class="center-item">
            					<i class="fa fa-chevron-right pink-text"></i>
            					<a class="indigo-text" href=""></a>
            				</li>
            				<li class="center-item">
            					<!-- <i class="mdi-maps-place pink-text"></i> -->
            					<span class="ingigo-text"></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            			</ul>
            		</div>
            	</div>

            	<div class="io-section has-cards ng-scope">
            		<div class="io-section-heading-xs ng-scope">
            			<div class="io-section-heading-top">
            				<div class="section-logo">
            					<img width="60px" src="images/waiguoyuxuexiao.jpg" class="responsive-img">
            				</div>
            				<div class="section-title">外国语学校</div>

            				<div class="section-date grey-text text-darken-1">
            					<span class="">1994-2000</span>
            				</div>
                        </div>

                        <div class="io-section-heading-bottom">
                            <div class="section-subtitle">
                                <span class="pink-text">洛阳</span>
                            </div>
                        </div>
            		</div>
            		
            		<div class="io-section-content ng-scope">
            			<ul>
            				<li class="center-item">
            					<i class="fa fa-chevron-right pink-text"></i>
            					<a class="indigo-text" href=""></a>
            				</li>
            				<li class="center-item">
            					<!-- <i class="mdi-maps-place pink-text"></i> -->
            					<span class="ingigo-text"></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            				<li class="center-item">
            					<i class="fa fa-circle pink-text"></i>
            					<span></span>
            				</li>
            			</ul>
            		</div>
            		
            	</div>

            </div>
        </div>
    </div>

    <!-- inject-vendor:js -->
    <script src="js/vendor.js"></script>
    <!-- endinject -->

    <!-- inject:js -->
    <script src="js/all.js"></script>
    <!-- endinject -->
    
    <!-- inject:js -->
    <script></script>
    <!-- endinject -->

</body>
</html>


